/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2017, 13:34:18
    Author     : ASUS
*/
#apDesignPane{
    -fx-background-color: rgba(8, 0, 0, .1);
    -fx-effect: dropshadow(three-pass-box,  #132736, 10, 0, 0, 0);
}
#apMother{
    -fx-background-image: url("../images/jj.jpg");
   -fx-background-repeat: stretch;
    -fx-background-position: center center;
    
}
.button:pressed{
    -fx-background-color: #56BF00;
    -fx-text-fill: white;
}
.button:focused{
   -fx-border-width: 0.5px;
    -fx-border-color: #ACACAC;
   -fx-border-radius: 50px;
/*    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;*/
}
.button:hover{
    -fx-background-color: #313333;
    -fx-text-fill: white;

}
.button{
    -fx-border-width: 0.5px;
    -fx-border-color: #0EBBBA;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: white;
    -fx-font-size: 12px; 
    -fx-padding: 8px 25px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.text-field{
    -fx-border-width: 0.7px;
    -fx-border-color: #0EBBBA;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: black;
    -fx-font-size: 15px; 
    -fx-padding: 5px 35px 5px 15px;
    -fx-background-color: white;
}
.text-field:focused{
    -fx-border-color: #EA5444;

}
