/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2017, 05:04:17
    Author     : ASUS
*/
.toggle-button{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: none;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: none;
    -fx-font-size: 12px; 
    -fx-padding: 10px 15px 10px 15px;
    -fx-font-weight:700;
    -fx-font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -fx-cursor:hand;
    -fx-text-fill: white;
}
.toggle-button:hover{
    -fx-background-color:  #F2F2F2;
    -fx-border-color: none;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-text-fill: black;
}
.toggle-button:selected{
    -fx-background-color:  #F2F2F2;
    -fx-border-color: none;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-text-fill: black;
}
