


.text-field{
    
    -fx-text-fill: #F2F2F2;

    
}

.text-area{
    
    -fx-text-fill: #F2F2F2;

}
#cbCategorie{
    -fx-text-fill: #F2F2F2;
}
.date-picker .text-field {
    -fx-control-inner-background:  #192539 ;
    -fx-prompt-text-fill: white ;
   

}

