#btnRefresh{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px; 
    
    -fx-background-image: url("../images/refreshOne32.png");

}
#btnRefresh:hover{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15px; 
    -fx-padding: 0px;
    -fx-background-image: url("../images/refreshTwo32.png");
    -fx-cursor: hand;
}

